.input {
  display: flex;
  background-color: rgba(0, 0, 0, 0.491);
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.input-bar {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
}
.input-bar input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: rgba(245, 247, 246, 0.822);
}
.input-bar input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
button.btn.btn-primary {
  background-color: #013d7e;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.bg {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(60, 58, 58, 0.3);
  height: 60px;
  width: 200px;
  border-radius: 12px;
  margin: 0 50px;
}
